* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  touch-action: none;
  overflow: none;
}

canvas#drawing-surface {
  display: block;
  cursor: url('edit-2.svg') 0 24, crosshair;
}

div#toolbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: white;
  display: flex;
  align-items: center;
  padding: 20px;

  .toolbar-radio {
    background-color: #555;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;

    & input[type="radio"] {
      display: none;
    }

    &:has(input[type="radio"]:checked) {
      background-color: #222;
    }
  }

  .toolbar-button:hover {
    background-color: #777;
  }
}
